In [10]:
import pandas as pd
df_chat = pd.read_csv('chat.csv')
df_stream = pd.read_csv('stream.csv')

Start by getting a feel for the stream table and the chat table:

Select all columns from the first rows.

In [18]:
df_chat.head()

,time,device_id,login,channel,country,player,game
0,2015-01-01 18:45:50,70e2b95b5ac0d4c227e46966658d16b3e044996e,5c2f5c1f19a7738e16ed0be551d865e8a8fce71d,jerry,BY,NaN,Dota 2
1,2015-01-01 01:16:57,f2b9065b55fd80d6aa653ce989b489f4ec5198be,0d77740e4fb5ce77d94f9f6c8ef1f762990d0344,elaine,HK,NaN,Devil May Cry 4: Special Edition
2,2015-01-01 16:22:10,d448ba963d7e1023dd1b0a40b95d4f6611750692,77ab14c1fb815e1c369ba0cf7d4c56b4fe489997,frank,GB,iphone_t,League of Legends
3,2015-01-01 03:58:13,8d6823dc52b400b50aebf269bf1f03a36d19eeaa,91cb88c0743761589273fc5e800e7743ece46494,frank,US,iphone_t,League of Legends
4,2015-01-01 11:47:35,16c1e39594d62358d27ae604ad43a071f0d86bc4,51a9234f83d656607cfd7f26690c12d2ffbce353,estelle,DE,NaN,Dota 2

In [20]:
df_stream.head()

,time,device_id,login,channel,country,player,game,stream_format,subscriber
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN
1,2015-01-01 23:35:33,9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760,5ad49a7b408ce452140b180dd6efb57a9f4d22c7,george,US,site,DayZ,chunked,False
2,2015-01-01 04:39:38,2f9c3f9ee1033b71a3819564243f20ef3bec0183,5b9a43e68f019185f55615d0b83019dee4b5d06f,frank,US,site,League of Legends,chunked,False
3,2015-01-01 11:15:30,0cda8226ba2583424c80c3c1c22c1256b080ad17,02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b,estelle,CH,site,Dota 2,high,False
4,2015-01-01 11:28:19,e3288ca5e3153aa85e32f64cdd994b7666968dcf,b920c228acbcbebee26d9c79f6eb73b73a9480c7,morty,FR,site,Heroes of the Storm,medium,False

What columns do the tables have?

In [17]:
print(df_chat.columns)
print(df_stream.columns)

Index(['time', 'device_id', 'login', 'channel', 'country', 'player', 'game'], dtype='object')
Index(['time', 'device_id', 'login', 'channel', 'country', 'player', 'game',
       'stream_format', 'subscriber'],
      dtype='object')

What are the unique games in the stream table?

In [22]:
df_stream.game.unique()

array(['League of Legends', 'DayZ', 'Dota 2', 'Heroes of the Storm',
       'Counter-Strike: Global Offensive',
       'Hearthstone: Heroes of Warcraft', 'The Binding of Isaac: Rebirth',
       'Agar.io', 'Gaming Talk Shows', nan, 'Rocket League',
       'World of Tanks', 'ARK: Survival Evolved', 'SpeedRunners',
       'Breaking Point', 'Duck Game', 'Devil May Cry 4: Special Edition',
       'Block N Load', 'Fallout 3', 'Batman: Arkham Knight',
       'Reign Of Kings', 'The Witcher 3: Wild Hunt',
       'The Elder Scrolls V: Skyrim', 'Super Mario Bros.', 'H1Z1',
       'The Last of Us', 'Depth', 'Mortal Kombat X',
       'Senran Kagura: Estival Versus', 'The Sims 4',
       'You Must Build A Boat', 'Choice Chamber', 'Music', 'Risk of Rain',
       'Grand Theft Auto V', 'Besiege', 'Super Mario Bros. 3', 'Hektor',
       'Bridge Constructor Medieval', 'Lucius', 'Blackjack',
       'Cities: Skylines'], dtype=object)

What are the unique channel in the stream table?

In [24]:
df_stream.channel.unique()

array(['frank', 'george', 'estelle', 'morty', 'kramer', 'jerry', 'helen',
       'newman', 'elaine', 'susan'], dtype=object)

What are the most popular games in the stream table?

Create a list of games and their number of viewers.

In [31]:
df_stream.groupby('game').player.count().sort_values(ascending=False)

game
League of Legends                   193533
Dota 2                               85608
Counter-Strike: Global Offensive     54438
DayZ                                 38004
Heroes of the Storm                  35310
The Binding of Isaac: Rebirth        29467
Gaming Talk Shows                    28115
World of Tanks                       15932
Hearthstone: Heroes of Warcraft      14399
Agar.io                              11480
Rocket League                         7087
ARK: Survival Evolved                 4158
SpeedRunners                          3367
Duck Game                             1063
Fallout 3                              485
Devil May Cry 4: Special Edition       231
Breaking Point                         161
Batman: Arkham Knight                  117
Reign Of Kings                          50
The Witcher 3: Wild Hunt                45
Block N Load                            34
Depth                                   27
Mortal Kombat X                         22
H1Z1                                     7
Super Mario Bros.                        6
Grand Theft Auto V                       5
Music                                    4
The Last of Us                           3
The Elder Scrolls V: Skyrim              3
Risk of Rain                             2
Senran Kagura: Estival Versus            2
The Sims 4                               1
Cities: Skylines                         1
Choice Chamber                           1
Bridge Constructor Medieval              1
Super Mario Bros. 3                      1
Hektor                                   1
Blackjack                                1
Besiege                                  1
Lucius                                   1
You Must Build A Boat                    1
Name: player, dtype: int64

These are some big numbers from the game League of Legends (also known as LoL).

Where are these LoL stream viewers located?

Create a list of countries and their number of LoL viewers.

In [40]:
df_stream[df_stream.game=='League of Legends'].groupby('country').game.count().sort_values(ascending=False)

country
US    85606
CA    13034
DE    10835
GB     6964
TR     4412
      ...
MQ        1
GA        1
GY        1
AD        1
A1        1
Name: game, Length: 155, dtype: int64

The player column contains the source the user is using to view the stream (site, iphone, android, etc).

Create a list of players and their number of streamers.

In [44]:
df_stream.groupby('player').game.count().sort_values(ascending=False)

player
site             246115
iphone_t         100126
android           92044
ipad_t            53347
embed             19819
xbox_one           4084
home               3479
frontpage          1567
amazon             1136
xbox360             985
roku                233
chromecast          149
facebook             83
ouya                  3
nvidia shield         3
android_pip           2
Name: game, dtype: int64

Create a new column named genre for each of the games.

Group the games into their genres: Multiplayer Online Battle Arena (MOBA), First Person Shooter (FPS), Survival, and Other.

In [70]:
def get_genre(val):
    if (val in ['League of Legends', 'Dota 2', 'Heroes of the Strom']):
        return 'MOBA'
    elif val in ['Counter-Strike: Global Offensive']:
        return 'FPS'
    elif val in ['DayZ', 'Survival Evolved']:
        return 'Survival'
    else:
        return 'Other'
    
df_stream['genre'] = df_stream.game.apply(get_genre)

df_stream.head()

#Other way https://stackoverflow.com/questions/19913659/pandas-conditional-creation-of-a-series-dataframe-column

,time,device_id,login,channel,country,player,game,stream_format,subscriber,genre
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN,MOBA
1,2015-01-01 23:35:33,9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760,5ad49a7b408ce452140b180dd6efb57a9f4d22c7,george,US,site,DayZ,chunked,False,Survival
2,2015-01-01 04:39:38,2f9c3f9ee1033b71a3819564243f20ef3bec0183,5b9a43e68f019185f55615d0b83019dee4b5d06f,frank,US,site,League of Legends,chunked,False,MOBA
3,2015-01-01 11:15:30,0cda8226ba2583424c80c3c1c22c1256b080ad17,02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b,estelle,CH,site,Dota 2,high,False,MOBA
4,2015-01-01 11:28:19,e3288ca5e3153aa85e32f64cdd994b7666968dcf,b920c228acbcbebee26d9c79f6eb73b73a9480c7,morty,FR,site,Heroes of the Storm,medium,False,Other

Let’s write a query that returns three columns:

The hours of the time column

The view count for each hour

Lastly, filter the result with only the users in your country.

In [96]:
from datetime import datetime

df_stream['hour'] = df_stream.apply(lambda row: datetime.strptime(row.time, '%Y-%m-%d %H:%M:%S').hour, axis=1)

In [98]:
df_stream[df_stream.country == 'ES'].groupby('hour').game.count()

hour
0      75
1      68
2     208
3     159
4     211
5      76
6       6
7       3
8      35
9      47
10     81
11    176
12    277
13    291
14    234
15    290
16    319
17    253
18    194
19    118
20     63
21     71
22     18
23     51
Name: game, dtype: int64

The stream table and the chat table share a column: device_id.

Let’s join the two tables on that column.

In [99]:
df_stream.merge(df_chat, on='device_id')

,time_x,device_id,login_x,channel_x,country_x,player_x,game_x,stream_format,subscriber,genre,hour,time_y,login_y,channel_y,country_y,player_y,game_y
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN,MOBA,18,2015-01-01 22:43:57,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends
1,2015-01-01 23:11:18,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN,MOBA,23,2015-01-01 22:43:57,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends
2,2015-01-01 17:29:23,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN,MOBA,17,2015-01-01 22:43:57,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends
3,2015-01-01 16:39:05,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN,MOBA,16,2015-01-01 22:43:57,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends
4,2015-01-01 21:54:57,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN,MOBA,21,2015-01-01 22:43:57,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667536,2015-01-01 20:14:49,1f36bc2905c4413bd63c6750fa6e7686dd8d76f6,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,site,DayZ,chunked,False,Survival,20,2015-01-01 21:01:40,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,NaN,DayZ
667537,2015-01-01 20:14:49,1f36bc2905c4413bd63c6750fa6e7686dd8d76f6,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,site,DayZ,chunked,False,Survival,20,2015-01-01 21:02:35,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,NaN,DayZ
667538,2015-01-01 20:14:49,1f36bc2905c4413bd63c6750fa6e7686dd8d76f6,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,site,DayZ,chunked,False,Survival,20,2015-01-01 21:03:53,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,NaN,DayZ
667539,2015-01-01 20:14:49,1f36bc2905c4413bd63c6750fa6e7686dd8d76f6,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,site,DayZ,chunked,False,Survival,20,2015-01-01 22:09:20,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,NaN,DayZ
667540,2015-01-01 20:14:49,1f36bc2905c4413bd63c6750fa6e7686dd8d76f6,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,site,DayZ,chunked,False,Survival,20,2015-01-01 21:05:38,29bd826145ea638e4171a384f2dfd24af54ad514,george,US,NaN,DayZ